.palette-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.palette {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
    max-width: 80vw;  /* Add a maximum width */
    max-height: 50vh; /* Add a maximum height */
    margin-top: 10px;
    position: center;
    z-index: 10;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    left: 0;
    top: 30px;
    overflow: auto; /* Add overflow: auto */
}

.palette-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 30px;
}

.color-button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.hidden {
    display: none !important;
}
